* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h3,
h4,
p,
button,
select,
input,
label {
  color: var(--body-text);
}
header,
select,
input {
  background: var(--bg_default);
}
a {
  text-decoration: none;
}
.nav-container {
  width: 95%;
  display: flex;
  align-items: center;
  margin: auto;
  min-height: 70px;
}

header h4 {
  margin-right: auto;
  color: var(--brand-primary) !important;
  cursor: pointer;
}
.nav-buttons {
  display: flex;
}

.nav-icon {
  margin-right: 5px;
}
.btn {
  background-color: var(--bg_default);
  border-radius: 5px;
  border: 1px solid var(--lines-color);
  font-family: var(--font-family);
  cursor: pointer;
  width: 100px;
  align-items: center;
  margin-right: 5px;
  width: 117px;
  height: 30px;
  display: flex;
  justify-content: center;
}
.triangle {
  display: flex;
  width: 100%;
  height: 100px;
  background: var(--bg_default);
}
.st-triangle {
  background-color: var(--brand-primary);
  height: 100%;
  width: 100%;
  clip-path: polygon(100% 0%, 0% 0%, 0% 100%);
}
.nd-triangle {
  background-color: var(--brand-secondary);
  height: 100%;
  width: 100%;
  clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
}

.welcome-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg_default);
  padding-bottom: 15px;
}
.welcome-text {
  /* margin: auto;
  width: 70%; */
  text-align: left;
}
.welcome-text h3 {
  color: var(--brand-secondary);
}
.welcome-content p {
  margin-top: 0;
  padding-left: 5px;
}

.content-body {
  background-color: var(--bg_body);
  padding-top: 20px;
  height: 100vh;
}

.content-container {
  width: 95%;
  margin: auto;
}
.search-box {
  display: flex;
  align-items: center;
  border-radius: 5px;

  border: 1px solid var(--lines-color);
  background-color: var(--bg_default);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.search-icon{
  color: var(--body-text);
  margin-right: 8px;
}
.search {
  width: 100%;
  padding-left: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}
.search input {
  width: 100%;
  border: none;
  outline: none;
  height: 50px;
}
.menu-list {
  display: flex;
  width: 50%;
  font-size: 0.8rem;
}
.menu-list label {
  width: 60px;
  text-align: center;
}
.sort {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid var(--lines-color);
  width: 100%;
}
.filter {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid var(--lines-color);
  width: 100%;
}

.select {
  border: none;
  font-size: 0.8rem;
  width: 60px;
}
.no-topic {
  padding: 24px 0 36px;
  color: var(--body-text);
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 24px;
}

.card {
  background-color: var(--bg_default);
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.card img {
  width: 100%;
  height: 140px;
  border-radius: 10px 10px 0 0;
}
.card-text {
  padding: 10px 15px;
  font-weight: 300;
}

.card-text h4 {
  margin-top: 0;
  font-weight: 400;
}
.card-framework {
  font-weight: 700;
}
.card-author {
  color: grey;
  margin-bottom: 0;
}

.checked {
  color: orange;
}

.fav-container {
  background-color: var(--bg_default);
  height: 200px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: none;
  z-index: 2;
}

.fav-content {
  width: 90%;
  margin: 15px auto;
}
.fav-header {
  margin-bottom: 15px;
}
.fav-cards {
  display: flex;
}
.fav-card {
  width: 130px;
  height: 130px;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.fav-card img {
  width: 100%;
  height: 70px;
  border-radius: 5px 5px 0 0;
}
.fav-card p {
  font-size: 15px;
  margin: 0;
  font-weight: 700;
}
@media (max-width: 768px) {
  .search-box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .menu-list {
    width: 100%;
  }
}
